html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1rem 1fr 7rem;
  height: 100%;
}

.header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: orangered;
  font-size: large;
  color: white;
}

/* Common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

a:focus {
  color: black;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: orangered;
}

button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

.snackbar-body{
  align-items: center;
  font-size: 12px;
}

/* Header */

.site-header {
  position: sticky;
  top: 0;
}

.site-logo {
  cursor: pointer;
  width: 10rem;
}

.cart {
  display: flex;
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}

.badge {
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
  font-size: 1.3rem;
  right: -10px;
  top: -10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-bottom: 0.1px solid lightgrey;
  background: white;
  position: sticky;
  top: 0;
  height: 50px;
}

.site-logo {
  cursor: pointer;
  width: 90px;
}

.header-search {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  height: 20px;
  width: 40%;
}

.header-search:hover {
  color: grey;
  border-color: orangered;
  background: white;
}

.header-search > input {
  outline: none;
  background: none;
  border: none;
  color: rgb(70, 70, 70);
  width: 100%;
  font-size: 16px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right > a {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.header-right > a:hover {
  border-radius: 10px;
  color: orangered;
  padding: 10px;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.col-3 {
  flex: 32 1 75rem;
}

.min-30 {
  min-width: 30rem;
}

.p-1 {
  padding: 1rem;
}

/* Image */

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

img.large {
  width: 70%;
}

/* Card */

.card {
  border: 0.1px solid lightgrey;
  background: white;
  width: 200px;
  padding: 10px;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card-body {
  padding: 10px;
}

.product-name {
  font-size: 16px;
}

.price {
  font-size: 2rem;
}

.product {
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Rating */

.rating span {
  color: orangered;
  margin: 0.1rem;
}

.rating span:last-child {
  color: grey;
}

/* Alert */

.loading {
  display: block !important;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: blue;
  background-color: lightgray;
}

.alert-danger {
  color: red;
  background-color: lightgray;
}

.alert-success {
  color: green;
  background-color: lightgray;
}

/* Sign-in */

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}

.signin-card {
  display: flex;
  flex-direction: column;
  width: 420px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 30px;
}

.signin-card > h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
  color: orangered;
}

.signin-detail {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
}

.signin-detail > input {
  height: 30px;
  width: 400px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  outline: none;
}

.signin-detail > input:hover {
  border: 1px solid orangered;
}

.signin-button {
  margin-top: 30px;
}

.signin-button > button {
  padding: 10px;
  width: 400px;
  cursor: pointer;
  font-size: 16px;
  background: none;
  border: 1px solid grey;
  border-radius: 10px;
}

.signin-button > button:hover {
  color: white;
  background-color: orangered;
}

.new-account {
  margin-top: 30px;
}

.t-and-c {
  font-size: 12px;
  text-align: center;
}

.t-and-c > a:hover {
  font-size: 12px;
  cursor: pointer;
  color: orangered;
}

.acc-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.register-redirect {
  background: none;
  text-decoration: none;
  outline: none;
  color: black;
}

.register-redirect:hover {
  color: orangered;
}

/* Dropdown */

.dropdown {
  /* display: inline-block; */
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  z-index: 1;
  background-color: rgb(20, 20, 20);
  border-radius: 1rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sign-out {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sign-out:hover {
  color: orangered;
}

/* Checkout Steps */

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: orangered;
  font-size: 20px;
  font-weight: 500;
  height: 70px;
  background-color: black;
  border-top: 0.1px solid lightgrey;
}

.footer-logo {
  width: 150px;
}
