html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: orangered;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: orangered;
  font-size: large;
  color: white;
}

/* Common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

a:focus {
  color: black;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: orangered;
}

button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}


/* Header */

header a {
  color: #ffffff;
  padding: 2rem;
}

a.brand {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
}

.badge {
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
  font-size: 1.3rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.col-3 {
  flex: 32 1 75rem;
}

.min-30 {
  min-width: 30rem;
}

.p-1 {
  padding: 1rem;
}


/* Image */
img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  object-fit: contain;
  height: 200px;
  width:200px;
}

img.large {
  width: 70%;
}


/* Card */

.card {
  border: 0.1px solid lightgrey;
  background: white;
  width: 200px;
  padding: 10px;
}

.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-body {
  padding: 10px;
}

.price {
  font-size: 2rem;
}

.product{
  padding: 20px;
  display: flex;
  gap:20px;
  flex-wrap: wrap;
  justify-content: center;
}


/* Rating */

.rating span {
  color: orangered;
  margin: 0.1rem;
}

.rating span:last-child {
  color: grey;
}


/* Alert */

.loading {
  display: block !important;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: blue;
  background-color: lightgray;
}

.alert-danger {
  color: red;
  background-color: lightgray;
}

.alert-success {
  color: green;
  background-color: lightgray;
}


/* Form */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form .sign-in {
  text-align: center;
}

.form label {
  margin: 1rem 0;
}

.form input{
  margin-bottom: 3rem;
}


/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: orangered;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Checkout Steps */

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000
}